<div class="about-container">
    <mat-card class="profile-section">
      <mat-card-title>
        About
      </mat-card-title>
      <mat-card-content>
          Dr. Heywood is a licensed psychologist who maintains a private practice in West Palm
          Beach,Florida specializing in the treatment of anxiety, mood, and interpersonal disorders with
          adults and children. He has practiced in Palm Beach County for over 20 years, working in
          schools, psychiatric facilities, and the private sector.
          
          Dr. Heywood moved to Florida in 1996 to serve his Doctoral Residency training at a community
          psychiatric hospital in WPB following the completion of his clinical internship at the Veterans
          Affairs Medical Center in Virginia. Here he continued for the next 6 years providing
          neuropsychological evaluations, supervision, and psychotherapy intervention services.
      </mat-card-content>
    </mat-card>
  </div>