
.content-container {
    overflow: hidden;
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 13;

    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
        'sidebar'
        'content content content content content content content content content content content';
    grid-gap: 10px;

    .profile-pic {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 13;

        grid-area: 'sidebar';
        display: grid;
        grid-template-columns: 1fr;

        .picture {
            grid-row-start: 1;
            grid-row-end: 5;
            background-image: url('../assets/profile.JPG');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            max-height: 145px;
            min-height: 145px;
        }

        .address {
            display: none;
        }

        mat-card-content {
            grid-row-start: 7;
            grid-row-end: 13;

            a {
                text-align: left;
            }

            .active-tab {
                color: #0D47A1;
            }
        }

    }

    .main-content {
        overflow-y: auto;
        grid-area: content;
        grid-row-start: 1;
        grid-row-end: 13;
        grid-column-start: 2;
        grid-column-end: 13;

        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
}

@media(max-width: 500px) {
    .content-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        grid-column-start: 1;
        grid-column-end: 1;
        grid-template-areas: 
            'sidebar'
            'content';

        .profile-pic {
            grid-row-start: 1;
            grid-row-end: 2;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            max-height: 195px;

            .picture {
                grid-column-start: 1;
                grid-column-end: 5;
                grid-row-start: 1;
                margin-bottom: 15px;
            }

            .address {
                display: grid;
                grid-column-start: 6;
                grid-column-end: 13;
            }

            mat-card-content {
                grid-column-start: 1;
                grid-column-end: 13;
                margin-left: -15px;
                position: absolute;
                left: -15px;
                right: -15px;
                bottom: 0;

                a {
                    min-width: 20%;
                    max-width: 20%;
                    padding: 0;
                    margin-top: 25px;
                    text-align: center;
                }
            }
        }

        .main-content {
            grid-area: content;
            grid-row-start: 2;
            grid-row-end: 13;
        }
    }
}