/* You can add global styles to this file, and also import other style files */
@import "./theme.scss";

html,
body,
.screen-cover {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-image: url('./assets/forest.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
}

.screen-cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
}

.z-depth-1 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  }

  mat-card {
      background-color:rgba(245,124,0,0.75)!important;
  }
  
  router-outlet {
      color: white;
      display: none;
  }

  app-root {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(12, 1fr);
      grid-column-start: 2;
      grid-column-end: 12;
      grid-row-start: 2;
      grid-row-end: 13;
  }
  app-home,
  app-background,
  app-location,
  app-about {
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 13;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }

  @media(max-width: 500px) {
      body {
          grid-template-columns: 1fr;
      }
      app-root {
          grid-template-columns: 1fr;
          grid-column-start: 1;
          grid-column-end: 1;
          grid-row-start: 1;
      }
  }